# Database
DATABASE_ENGINE=django.db.backends.mysql
DATABASE_NAME=voco_uc
DATABASE_USER=root
DATABASE_PASSWORD=root
DATABASE_HOST=localhost
DATABASE_PORT=3306

# Models
CATEGORIES_MODEL_PATH=/home/juan/projects/teg/backend
CATEGORIES_MAX_LEN = 300
TCATEGORIES_RAIN_BATCH_SIZE = 3
CATEGORIES_VALID_BATCH_SIZE = 1
CATEGORIES_EPOCHS = 10
CATEGORIES_LEARNING_RATE = 1e-05