Django
djangorestframework
django-crontab
requests
tqdm
beautifulsoup4
mysqlclient
python-dotenv
langchain
translate
textblob
spacy
scikit-learn
langdetect
pandas
torch
transformers
googletrans==3.1.0a0
matplotlib
imbalanced-learn
django-filter
deap
pytesseract